src/node_red/flows/.flows.json.backup
[
    {
        "id": "d275db0917751b2f",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e4ff58e5d4e74844",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "42f5fc87a973420f",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "21ab3ea4cf55af84",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4e8f3adc.8366c4",
        "type": "tab",
        "label": "MQTT simple example",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4337c9ba9feaddc0",
        "type": "tab",
        "label": "Flow 5",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a5898775f44b2632",
        "type": "ui_group",
        "name": "Default",
        "tab": "521ea9ca5f34cb03",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "521ea9ca5f34cb03",
        "type": "ui_tab",
        "name": "Relay Control",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "bfe98de7c20f5a82",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "6c3a93197925e743",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8007ba3e962d7ef3",
        "type": "ui_group",
        "name": "Default",
        "tab": "6c3a93197925e743",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "84bae3707b62dd5b",
        "type": "mqtt-broker",
        "name": "nomadic_mqtt_broker",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "63f90568cf6333e5",
        "type": "ui_group",
        "name": "Relay Control",
        "tab": "521ea9ca5f34cb03",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7731981c5949c897",
        "type": "ui_group",
        "name": "",
        "tab": "521ea9ca5f34cb03",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "532a913ecf1318e0",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1234",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "b3ff600f9f1d75be",
        "type": "ui_tab",
        "name": "Temperature",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c3553afd1fe37ae4",
        "type": "ui_group",
        "name": "Chart",
        "tab": "b3ff600f9f1d75be",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f6b14d864c7cdca3",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "b3ff600f9f1d75be",
        "order": 2,
        "disp": true,
        "width": 6
    },
    {
        "id": "25bd8b7a194197db",
        "type": "ui_group",
        "name": "Group 3",
        "tab": "b3ff600f9f1d75be",
        "order": 3,
        "disp": true,
        "width": 6
    },
    {
        "id": "c5bf071814703443",
        "type": "mqtt out",
        "z": "d275db0917751b2f",
        "name": "temp_req",
        "topic": "temp_req",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "84bae3707b62dd5b",
        "x": 400,
        "y": 100,
        "wires": []
    },
    {
        "id": "b9ca8e6a54718359",
        "type": "mqtt in",
        "z": "d275db0917751b2f",
        "name": "",
        "topic": "temp_data",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "84bae3707b62dd5b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 300,
        "wires": [
            [
                "57e788fa4a123276",
                "385f4531eac18cb4",
                "801e57a8bf33ba49",
                "7ea32f09f9edc7b0"
            ]
        ],
        "info": "Gets the temperature data (currently, \nnot hooked up to the sensors)"
    },
    {
        "id": "57e788fa4a123276",
        "type": "debug",
        "z": "d275db0917751b2f",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 350,
        "y": 300,
        "wires": []
    },
    {
        "id": "584237942a7cbca8",
        "type": "inject",
        "z": "d275db0917751b2f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"temperature sensor\":\"READ\"}",
        "payloadType": "json",
        "x": 170,
        "y": 100,
        "wires": [
            [
                "c5bf071814703443"
            ]
        ],
        "info": "Currently, sending a request \nevery 5 seconds for the temperature data"
    },
    {
        "id": "385f4531eac18cb4",
        "type": "ui_chart",
        "z": "d275db0917751b2f",
        "name": "",
        "group": "c3553afd1fe37ae4",
        "order": 1,
        "width": "6",
        "height": "6",
        "label": "Temperature Over Last Day",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 400,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "801e57a8bf33ba49",
        "type": "ui_text",
        "z": "d275db0917751b2f",
        "group": "f6b14d864c7cdca3",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current Temperature:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 380,
        "y": 420,
        "wires": []
    },
    {
        "id": "7ea32f09f9edc7b0",
        "type": "ui_widget_thermometer",
        "z": "d275db0917751b2f",
        "group": "25bd8b7a194197db",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "title": "",
        "colorTop": "#2196f3",
        "colorMiddle": "#8bc34a",
        "colorBottom": "#f44336",
        "unit": "°F",
        "scale": "normal",
        "minTemp": 0,
        "maxTemp": "35",
        "x": 350,
        "y": 480,
        "wires": []
    },
    {
        "id": "79c9c8ea477ad745",
        "type": "ui_button",
        "z": "e4ff58e5d4e74844",
        "name": "",
        "group": "63f90568cf6333e5",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"heartbeat\":\"STATUS\"}",
        "payloadType": "json",
        "topic": "payload",
        "topicType": "msg",
        "x": 110,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "ff646cdc333eec06",
        "type": "mqtt out",
        "z": "e4ff58e5d4e74844",
        "name": "heartbeat_send",
        "topic": "heartbeat_send",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "84bae3707b62dd5b",
        "x": 640,
        "y": 200,
        "wires": []
    },
    {
        "id": "52927674071f2086",
        "type": "mqtt in",
        "z": "e4ff58e5d4e74844",
        "name": "heartbeat_receive",
        "topic": "heartbeat_receive",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "84bae3707b62dd5b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 430,
        "y": 320,
        "wires": [
            [
                "972c82a024f124c2",
                "e6a352e514c4fcab"
            ]
        ]
    },
    {
        "id": "972c82a024f124c2",
        "type": "debug",
        "z": "e4ff58e5d4e74844",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 440,
        "wires": []
    },
    {
        "id": "4e66c47d56a9cee9",
        "type": "inject",
        "z": "e4ff58e5d4e74844",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "",
        "payload": "{\"heartbeat\":\"STATUS\"}",
        "payloadType": "json",
        "x": 370,
        "y": 200,
        "wires": [
            [
                "ff646cdc333eec06"
            ]
        ]
    },
    {
        "id": "e6a352e514c4fcab",
        "type": "ui_led",
        "z": "e4ff58e5d4e74844",
        "order": 0,
        "group": "a5898775f44b2632",
        "width": 0,
        "height": 0,
        "label": "Status",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 890,
        "y": 380,
        "wires": []
    },
    {
        "id": "bf6edace3ce9c875",
        "type": "mqtt out",
        "z": "42f5fc87a973420f",
        "name": "sensor req",
        "topic": "multimeter_request",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "84bae3707b62dd5b",
        "x": 750,
        "y": 160,
        "wires": []
    },
    {
        "id": "bcd58450f30e1f6c",
        "type": "mqtt in",
        "z": "42f5fc87a973420f",
        "name": "sensor reading",
        "topic": "multimeter_status",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "84bae3707b62dd5b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 940,
        "y": 160,
        "wires": [
            [
                "5ab0e58a7683ba31",
                "b6c24b3e47e7f0c3",
                "043b1289b77c4e26"
            ]
        ]
    },
    {
        "id": "043b1289b77c4e26",
        "type": "ui_gauge",
        "z": "42f5fc87a973420f",
        "name": "",
        "group": "8007ba3e962d7ef3",
        "order": 2,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Battery",
        "label": "Volts",
        "format": "{{value}}",
        "min": 0,
        "max": "14",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1360,
        "y": 200,
        "wires": []
    },
    {
        "id": "5ab0e58a7683ba31",
        "type": "debug",
        "z": "42f5fc87a973420f",
        "name": "Battery Sensor Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
<<<<<<< HEAD
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1200,
        "y": 320,
=======
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 200,
>>>>>>> 706502cbec7f88a65e0d204191cba7200af89e1a
        "wires": []
    },
    {
        "id": "2fbde1c6bd9ffa75",
        "type": "inject",
        "z": "42f5fc87a973420f",
        "name": "multimeter",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"multimeter_request\": \"STATUS\"}",
        "payloadType": "json",
        "x": 110,
        "y": 120,
        "wires": [
            [
                "ab9975f9b85fa7f4"
            ]
        ]
    },
    {
        "id": "53fda2946801ab90",
        "type": "ui_led",
        "z": "42f5fc87a973420f",
        "order": 3,
        "group": "8007ba3e962d7ef3",
        "width": 0,
        "height": 0,
        "label": "Sensor Status",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Multimeter Status",
        "x": 1390,
        "y": 160,
        "wires": []
    },
    {
        "id": "b6c24b3e47e7f0c3",
        "type": "function",
        "z": "42f5fc87a973420f",
        "name": "function 5",
        "func": "let reading = parseFloat(msg.payload);\nnode.log(msg);\nif(reading > 0) {\n    msg.payload = true\n    return msg;\n}\nmsg.payload = false;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1180,
        "y": 140,
        "wires": [
            [
                "ab5a29c75d472836",
                "53fda2946801ab90"
            ]
        ]
    },
    {
        "id": "ab5a29c75d472836",
        "type": "debug",
        "z": "42f5fc87a973420f",
        "name": "Status Light Debug",
<<<<<<< HEAD
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1390,
        "y": 120,
        "wires": []
    },
    {
        "id": "18a65217e38edf63",
        "type": "debug",
        "z": "42f5fc87a973420f",
        "name": "Inject Debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 240,
        "wires": []
    },
    {
        "id": "e303219d3a2d1453",
        "type": "inject",
        "z": "42f5fc87a973420f",
        "name": "heartbeat",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"heartbeat_request\": \"STATUS\"}",
        "payloadType": "json",
        "x": 120,
        "y": 160,
        "wires": [
            [
                "ab9975f9b85fa7f4"
            ]
        ]
    },
    {
        "id": "4370cff72e790fcf",
        "type": "mqtt in",
        "z": "42f5fc87a973420f",
        "name": "heartbeat read",
        "topic": "heartbeat_status",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "84bae3707b62dd5b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 940,
        "y": 520,
        "wires": [
            [
                "2bf3633ae5a947c2"
            ]
        ]
    },
    {
        "id": "2bf3633ae5a947c2",
        "type": "debug",
        "z": "42f5fc87a973420f",
        "name": "debug 3",
=======
>>>>>>> 706502cbec7f88a65e0d204191cba7200af89e1a
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
<<<<<<< HEAD
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1160,
        "y": 520,
        "wires": []
    },
    {
        "id": "ab9975f9b85fa7f4",
        "type": "switch",
        "z": "42f5fc87a973420f",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "{\"multimeter_request\": \"STATUS\"}",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 330,
        "y": 140,
        "wires": [
            [
                "bf6edace3ce9c875"
            ],
            []
        ]
    },
    {
=======
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 80,
        "wires": []
    },
    {
>>>>>>> 706502cbec7f88a65e0d204191cba7200af89e1a
        "id": "4e7703b487d4460f",
        "type": "function",
        "z": "21ab3ea4cf55af84",
        "name": "function 1",
        "func": "node.log(\"Hello node red\")",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nnode.log(\"Hello node red\")\nreturn 1;\n",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "1ad7c3694038b57a",
        "type": "inject",
        "z": "21ab3ea4cf55af84",
        "name": "guage_in",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "guage_in",
        "payload": "5",
        "payloadType": "num",
        "x": 490,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "aff58df88ffb40d7",
        "type": "ui_button",
        "z": "21ab3ea4cf55af84",
        "name": "",
        "group": "63f90568cf6333e5",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"relay_1\":\"TOGGLE\"}",
        "payloadType": "json",
        "topic": "payload",
        "topicType": "msg",
        "x": 90,
        "y": 40,
        "wires": [
            [
                "6918d942e99f5754"
            ]
        ]
    },
    {
        "id": "c76a30fbbeb26f52",
        "type": "mqtt in",
        "z": "21ab3ea4cf55af84",
        "name": "relay out",
        "topic": "relay",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "84bae3707b62dd5b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 60,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "6918d942e99f5754",
        "type": "mqtt out",
        "z": "21ab3ea4cf55af84",
        "name": "relay",
        "topic": "relay",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "84bae3707b62dd5b",
        "x": 310,
        "y": 40,
        "wires": []
    },
    {
        "id": "79b3bee443d15977",
        "type": "function",
        "z": "21ab3ea4cf55af84",
        "name": "function 3",
        "func": "var new_msg = msg.payload;\n\nnode.log(new_msg.relay_1);\nnode.log(\"Msg received\");\nif(new_msg.relay_1 === \"TOGGLE\"){\n    msg.current_relay = 1;\n    return msg;\n}\nreturn 0;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nvar current_state = 0;\n",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 240,
        "wires": [
            [
                "36de5e3ed854f5fb"
            ]
        ]
    },
    {
        "id": "36de5e3ed854f5fb",
        "type": "switch",
        "z": "21ab3ea4cf55af84",
        "name": "",
        "property": "current_relay",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "6",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "7",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "8",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 8,
        "x": 370,
        "y": 240,
        "wires": [
            [
                "69b90e441d1f999f"
            ],
            [
                "6e1302f9ce9606d6"
            ],
            [
                "99ace92f565537fe"
            ],
            [
                "d18a4b596540628c"
            ],
            [
                "0fb5cac6529ef4e1"
            ],
            [
                "558d3fc5f2764312"
            ],
            [
                "95d8fa5b3a913edf"
            ],
            [
                "7b2ae9f901786c6c"
            ]
        ]
    },
    {
        "id": "69b90e441d1f999f",
        "type": "ui_switch",
        "z": "21ab3ea4cf55af84",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "63f90568cf6333e5",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "relay_state",
        "topicType": "msg",
        "style": "",
        "onvalue": "3",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "2",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 690,
        "y": 60,
        "wires": [
            [
                "412266dacf3be6a6",
                "8fbfebb8975cd871"
            ]
        ]
    },
    {
        "id": "6e1302f9ce9606d6",
        "type": "ui_switch",
        "z": "21ab3ea4cf55af84",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "63f90568cf6333e5",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "relay_state",
        "topicType": "msg",
        "style": "",
        "onvalue": "5",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "4",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 690,
        "y": 100,
        "wires": [
            [
                "412266dacf3be6a6",
                "8fbfebb8975cd871"
            ]
        ]
    },
    {
        "id": "99ace92f565537fe",
        "type": "ui_switch",
        "z": "21ab3ea4cf55af84",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "63f90568cf6333e5",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "relay_state",
        "topicType": "msg",
        "style": "",
        "onvalue": "9",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "8",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 690,
        "y": 140,
        "wires": [
            [
                "412266dacf3be6a6",
                "8fbfebb8975cd871"
            ]
        ]
    },
    {
        "id": "d18a4b596540628c",
        "type": "ui_switch",
        "z": "21ab3ea4cf55af84",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "63f90568cf6333e5",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "relay_state",
        "topicType": "msg",
        "style": "",
        "onvalue": "17",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "16",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 690,
        "y": 180,
        "wires": [
            [
                "412266dacf3be6a6",
                "8fbfebb8975cd871"
            ]
        ]
    },
    {
        "id": "0fb5cac6529ef4e1",
        "type": "ui_switch",
        "z": "21ab3ea4cf55af84",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "7731981c5949c897",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "relay_state",
        "topicType": "msg",
        "style": "",
        "onvalue": "33",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "32",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 690,
        "y": 220,
        "wires": [
            [
                "412266dacf3be6a6",
                "8fbfebb8975cd871"
            ]
        ]
    },
    {
        "id": "558d3fc5f2764312",
        "type": "ui_switch",
        "z": "21ab3ea4cf55af84",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "7731981c5949c897",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "relay_state",
        "topicType": "msg",
        "style": "",
        "onvalue": "65",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "64",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 690,
        "y": 260,
        "wires": [
            [
                "412266dacf3be6a6",
                "8fbfebb8975cd871"
            ]
        ]
    },
    {
        "id": "95d8fa5b3a913edf",
        "type": "ui_switch",
        "z": "21ab3ea4cf55af84",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "7731981c5949c897",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "relay_state",
        "topicType": "msg",
        "style": "",
        "onvalue": "129",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "128",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 690,
        "y": 300,
        "wires": [
            [
                "412266dacf3be6a6",
                "8fbfebb8975cd871"
            ]
        ]
    },
    {
        "id": "7b2ae9f901786c6c",
        "type": "ui_switch",
        "z": "21ab3ea4cf55af84",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "7731981c5949c897",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "relay_state",
        "topicType": "msg",
        "style": "",
        "onvalue": "257",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "256",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 690,
        "y": 340,
        "wires": [
            [
                "412266dacf3be6a6",
                "8fbfebb8975cd871"
            ]
        ]
    },
    {
        "id": "412266dacf3be6a6",
        "type": "mqtt out",
        "z": "21ab3ea4cf55af84",
        "name": "relay",
        "topic": "relay",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "84bae3707b62dd5b",
        "x": 890,
        "y": 520,
        "wires": []
    },
    {
        "id": "8fbfebb8975cd871",
        "type": "mqtt out",
        "z": "21ab3ea4cf55af84",
        "name": "relay",
        "topic": "relay",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "532a913ecf1318e0",
        "x": 890,
        "y": 520,
        "wires": []
    },
    {
        "id": "2a928e72.4018fa",
        "type": "inject",
        "z": "4e8f3adc.8366c4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test",
        "payload": "This is a test",
        "payloadType": "str",
        "x": 180,
        "y": 100,
        "wires": [
            [
                "41fc9fc6.f54338"
            ]
        ]
    },
    {
        "id": "236069e3.c89a9e",
        "type": "debug",
        "z": "4e8f3adc.8366c4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 100,
        "wires": []
    },
    {
        "id": "2e3574e9.ca655c",
        "type": "mqtt in",
        "z": "4e8f3adc.8366c4",
        "name": "",
        "topic": "test",
        "qos": "2",
        "datatype": "auto",
        "broker": "",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 600,
        "y": 100,
        "wires": [
            [
                "236069e3.c89a9e"
            ]
        ]
    },
    {
        "id": "41fc9fc6.f54338",
        "type": "mqtt out",
        "z": "4e8f3adc.8366c4",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "",
        "x": 370,
        "y": 100,
        "wires": []
    }
]