src/node_red/flows/flows.json
[
    {
        "id": "d275db0917751b2f",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e4ff58e5d4e74844",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "42f5fc87a973420f",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "21ab3ea4cf55af84",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4e8f3adc.8366c4",
        "type": "tab",
        "label": "MQTT simple example",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4337c9ba9feaddc0",
        "type": "tab",
        "label": "Flow 5",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a5898775f44b2632",
        "type": "ui_group",
        "name": "Default",
        "tab": "521ea9ca5f34cb03",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "521ea9ca5f34cb03",
        "type": "ui_tab",
        "name": "Relay Control",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "bfe98de7c20f5a82",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "6c3a93197925e743",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8007ba3e962d7ef3",
        "type": "ui_group",
        "name": "Default",
        "tab": "6c3a93197925e743",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "84bae3707b62dd5b",
        "type": "mqtt-broker",
        "name": "nomadic_mqtt_broker",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "63f90568cf6333e5",
        "type": "ui_group",
        "name": "Relay Control",
        "tab": "521ea9ca5f34cb03",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7731981c5949c897",
        "type": "ui_group",
        "name": "",
        "tab": "521ea9ca5f34cb03",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "532a913ecf1318e0",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1234",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "b3ff600f9f1d75be",
        "type": "ui_tab",
        "name": "Temperature",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c3553afd1fe37ae4",
        "type": "ui_group",
        "name": "Chart",
        "tab": "b3ff600f9f1d75be",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f6b14d864c7cdca3",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "b3ff600f9f1d75be",
        "order": 2,
        "disp": true,
        "width": 6
    },
    {
        "id": "25bd8b7a194197db",
        "type": "ui_group",
        "name": "Group 3",
        "tab": "b3ff600f9f1d75be",
        "order": 3,
        "disp": true,
        "width": 6
    },
    {
        "id": "c5bf071814703443",
        "type": "mqtt out",
        "z": "d275db0917751b2f",
        "name": "temp_req",
        "topic": "temp_req",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "84bae3707b62dd5b",
        "x": 400,
        "y": 100,
        "wires": []
    },
    {
        "id": "b9ca8e6a54718359",
        "type": "mqtt in",
        "z": "d275db0917751b2f",
        "name": "",
        "topic": "temp_data",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "84bae3707b62dd5b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 300,
        "wires": [
            [
                "57e788fa4a123276",
                "385f4531eac18cb4",
                "801e57a8bf33ba49",
                "7ea32f09f9edc7b0"
            ]
        ],
        "info": "Gets the temperature data (currently, \nnot hooked up to the sensors)"
    },
    {
        "id": "57e788fa4a123276",
        "type": "debug",
        "z": "d275db0917751b2f",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 350,
        "y": 300,
        "wires": []
    },
    {
        "id": "584237942a7cbca8",
        "type": "inject",
        "z": "d275db0917751b2f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"temperature sensor\":\"READ\"}",
        "payloadType": "json",
        "x": 170,
        "y": 100,
        "wires": [
            [
                "c5bf071814703443"
            ]
        ],
        "info": "Currently, sending a request \nevery 5 seconds for the temperature data"
    },
    {
        "id": "385f4531eac18cb4",
        "type": "ui_chart",
        "z": "d275db0917751b2f",
        "name": "",
        "group": "c3553afd1fe37ae4",
        "order": 1,
        "width": "6",
        "height": "6",
        "label": "Temperature Over Last Day",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 400,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "801e57a8bf33ba49",
        "type": "ui_text",
        "z": "d275db0917751b2f",
        "group": "f6b14d864c7cdca3",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current Temperature:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 380,
        "y": 420,
        "wires": []
    },
    {
        "id": "7ea32f09f9edc7b0",
        "type": "ui_widget_thermometer",
        "z": "d275db0917751b2f",
        "group": "25bd8b7a194197db",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "title": "",
        "colorTop": "#2196f3",
        "colorMiddle": "#8bc34a",
        "colorBottom": "#f44336",
        "unit": "°F",
        "scale": "normal",
        "minTemp": 0,
        "maxTemp": "35",
        "x": 350,
        "y": 480,
        "wires": []
    },
    {
        "id": "dd92f5eebe2eece3",
        "type": "ui_button",
        "z": "e4ff58e5d4e74844",
        "name": "",
        "group": "8007ba3e962d7ef3",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 270,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "4cf5070e4a50299c",
        "type": "inject",
        "z": "e4ff58e5d4e74844",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "2dbc29e575e9524d",
        "type": "ui_button",
        "z": "42f5fc87a973420f",
        "name": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "73bc8bb8f3f586bc",
        "type": "debug",
        "z": "42f5fc87a973420f",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 180,
        "wires": []
    },
    {
        "id": "cab5dd7f12a503b8",
        "type": "ui_chart",
        "z": "42f5fc87a973420f",
        "name": "Battery",
        "group": "97641347c15b007c",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Battery",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 720,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "9d5117f550cdd0c7",
        "type": "function",
        "z": "42f5fc87a973420f",
        "name": "function 2",
        "func": "var newmsg = {payload: msg.payload};\n\n\n\nreturn newmsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 380,
        "wires": [
            [
                "cab5dd7f12a503b8"
            ]
        ]
    },
    {
        "id": "054d678dd0032f71",
        "type": "ui_slider",
        "z": "42f5fc87a973420f",
        "name": "",
        "label": "slider",
        "tooltip": "",
        "group": "97641347c15b007c",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": "0.5",
        "className": "",
        "x": 310,
        "y": 240,
        "wires": [
            [
                "9d5117f550cdd0c7"
            ]
        ]
    },
    {
        "id": "4e7703b487d4460f",
        "type": "function",
        "z": "21ab3ea4cf55af84",
        "name": "function 1",
        "func": "node.log(\"Hello node red\")",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nnode.log(\"Hello node red\")\nreturn 1;\n",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "1ad7c3694038b57a",
        "type": "inject",
        "z": "21ab3ea4cf55af84",
        "name": "guage_in",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "guage_in",
        "payload": "5",
        "payloadType": "num",
        "x": 490,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "aff58df88ffb40d7",
        "type": "ui_button",
        "z": "21ab3ea4cf55af84",
        "name": "",
        "group": "63f90568cf6333e5",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"relay_1\":\"TOGGLE\"}",
        "payloadType": "json",
        "topic": "payload",
        "topicType": "msg",
        "x": 90,
        "y": 40,
        "wires": [
            [
                "6918d942e99f5754"
            ]
        ]
    },
    {
        "id": "c76a30fbbeb26f52",
        "type": "mqtt in",
        "z": "21ab3ea4cf55af84",
        "name": "relay out",
        "topic": "relay",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "84bae3707b62dd5b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 60,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "6918d942e99f5754",
        "type": "mqtt out",
        "z": "21ab3ea4cf55af84",
        "name": "relay",
        "topic": "relay",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "84bae3707b62dd5b",
        "x": 310,
        "y": 40,
        "wires": []
    },
    {
        "id": "79b3bee443d15977",
        "type": "function",
        "z": "21ab3ea4cf55af84",
        "name": "function 3",
        "func": "var new_msg = msg.payload;\n\nnode.log(new_msg.relay_1);\nnode.log(\"Msg received\");\nif(new_msg.relay_1 === \"TOGGLE\"){\n    msg.current_relay = 1;\n    return msg;\n}\nreturn 0;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nvar current_state = 0;\n",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 240,
        "wires": [
            [
                "36de5e3ed854f5fb"
            ]
        ]
    },
    {
        "id": "36de5e3ed854f5fb",
        "type": "switch",
        "z": "21ab3ea4cf55af84",
        "name": "",
        "property": "current_relay",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "6",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "7",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "8",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 8,
        "x": 370,
        "y": 240,
        "wires": [
            [
                "69b90e441d1f999f"
            ],
            [
                "6e1302f9ce9606d6"
            ],
            [
                "99ace92f565537fe"
            ],
            [
                "d18a4b596540628c"
            ],
            [
                "0fb5cac6529ef4e1"
            ],
            [
                "558d3fc5f2764312"
            ],
            [
                "95d8fa5b3a913edf"
            ],
            [
                "7b2ae9f901786c6c"
            ]
        ]
    },
    {
        "id": "69b90e441d1f999f",
        "type": "ui_switch",
        "z": "21ab3ea4cf55af84",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "63f90568cf6333e5",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "relay_state",
        "topicType": "msg",
        "style": "",
        "onvalue": "3",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "2",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 690,
        "y": 60,
        "wires": [
            [
                "412266dacf3be6a6",
                "8fbfebb8975cd871"
            ]
        ]
    },
    {
        "id": "6e1302f9ce9606d6",
        "type": "ui_switch",
        "z": "21ab3ea4cf55af84",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "63f90568cf6333e5",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "relay_state",
        "topicType": "msg",
        "style": "",
        "onvalue": "5",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "4",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 690,
        "y": 100,
        "wires": [
            [
                "412266dacf3be6a6",
                "8fbfebb8975cd871"
            ]
        ]
    },
    {
        "id": "99ace92f565537fe",
        "type": "ui_switch",
        "z": "21ab3ea4cf55af84",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "63f90568cf6333e5",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "relay_state",
        "topicType": "msg",
        "style": "",
        "onvalue": "9",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "8",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 690,
        "y": 140,
        "wires": [
            [
                "412266dacf3be6a6",
                "8fbfebb8975cd871"
            ]
        ]
    },
    {
        "id": "d18a4b596540628c",
        "type": "ui_switch",
        "z": "21ab3ea4cf55af84",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "63f90568cf6333e5",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "relay_state",
        "topicType": "msg",
        "style": "",
        "onvalue": "17",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "16",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 690,
        "y": 180,
        "wires": [
            [
                "412266dacf3be6a6",
                "8fbfebb8975cd871"
            ]
        ]
    },
    {
        "id": "0fb5cac6529ef4e1",
        "type": "ui_switch",
        "z": "21ab3ea4cf55af84",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "7731981c5949c897",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "relay_state",
        "topicType": "msg",
        "style": "",
        "onvalue": "33",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "32",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 690,
        "y": 220,
        "wires": [
            [
                "412266dacf3be6a6",
                "8fbfebb8975cd871"
            ]
        ]
    },
    {
        "id": "558d3fc5f2764312",
        "type": "ui_switch",
        "z": "21ab3ea4cf55af84",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "7731981c5949c897",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "relay_state",
        "topicType": "msg",
        "style": "",
        "onvalue": "65",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "64",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 690,
        "y": 260,
        "wires": [
            [
                "412266dacf3be6a6",
                "8fbfebb8975cd871"
            ]
        ]
    },
    {
        "id": "95d8fa5b3a913edf",
        "type": "ui_switch",
        "z": "21ab3ea4cf55af84",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "7731981c5949c897",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "relay_state",
        "topicType": "msg",
        "style": "",
        "onvalue": "129",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "128",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 690,
        "y": 300,
        "wires": [
            [
                "412266dacf3be6a6",
                "8fbfebb8975cd871"
            ]
        ]
    },
    {
        "id": "7b2ae9f901786c6c",
        "type": "ui_switch",
        "z": "21ab3ea4cf55af84",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "7731981c5949c897",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "relay_state",
        "topicType": "msg",
        "style": "",
        "onvalue": "257",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "256",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 690,
        "y": 340,
        "wires": [
            [
                "412266dacf3be6a6",
                "8fbfebb8975cd871"
            ]
        ]
    },
    {
        "id": "412266dacf3be6a6",
        "type": "mqtt out",
        "z": "21ab3ea4cf55af84",
        "name": "relay",
        "topic": "relay",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "84bae3707b62dd5b",
        "x": 890,
        "y": 520,
        "wires": []
    },
    {
        "id": "8fbfebb8975cd871",
        "type": "mqtt out",
        "z": "21ab3ea4cf55af84",
        "name": "relay",
        "topic": "relay",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "532a913ecf1318e0",
        "x": 890,
        "y": 520,
        "wires": []
    },
    {
        "id": "2a928e72.4018fa",
        "type": "inject",
        "z": "4e8f3adc.8366c4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test",
        "payload": "This is a test",
        "payloadType": "str",
        "x": 180,
        "y": 100,
        "wires": [
            [
                "41fc9fc6.f54338"
            ]
        ]
    },
    {
        "id": "236069e3.c89a9e",
        "type": "debug",
        "z": "4e8f3adc.8366c4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 100,
        "wires": []
    },
    {
        "id": "2e3574e9.ca655c",
        "type": "mqtt in",
        "z": "4e8f3adc.8366c4",
        "name": "",
        "topic": "test",
        "qos": "2",
        "datatype": "auto",
        "broker": "",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 600,
        "y": 100,
        "wires": [
            [
                "236069e3.c89a9e"
            ]
        ]
    },
    {
        "id": "41fc9fc6.f54338",
        "type": "mqtt out",
        "z": "4e8f3adc.8366c4",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "",
        "x": 370,
        "y": 100,
        "wires": []
    }
]